<!DOCTYPE html>
<html>
  <head>
    <title>Cover Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      nav {
        display: flex;
        justify-content: space-around;
        background-color: white;
        padding: 10px;
      }
      .menu-btn {
        background-color: white;
        color: #007bff;
        border: 2px solid #007bff;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        width: 150px;
        box-sizing: border-box;
        transition: background-color 0.3s, color 0.3s;
      }
      .menu-btn:hover {
        background-color: #007bff;
        color: white;
      }
    </style>
  </head>

  <body>
    <nav>
      <a class="menu-btn" href="/">Home</a>
      <% if current_user.present? %>
        <a class="menu-btn" href="/users/edit">Edit Profile</a>
        <a class="menu-btn" href="/user/show">My Cover Letters</a>
        <a class="menu-btn" href="/users/sign_out">Sign out</a>
      <% else %>
        <a class="menu-btn" href="/users/sign_up">Sign up</a>
        <a class="menu-btn" href="/users/sign_in">Sign in</a>
      <% end %>
    </nav>
    <hr>
    <%= yield %>
    <br>
  </body>
</html>
