<!DOCTYPE html>
<html>
  <head>
    <title>Cover Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <% if current_user.present? %>
        <a href="/users/edit">Edit profile</a>
        <a href="/users/sign_out">Sign out</a>
      <% else %>
        <a href="/users/sign_up">Sign up</a>
        <a href="/users/sign_in">Sign in</a>
      <% end %>
    </nav>
    <%= yield %>
    <br>
  </body>
</html>
